@config "../../tailwind.config.js";
@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }

  html {
    color-scheme: dark;
  }
}

@layer utilities {
  .map-grid-background {
    background:
      linear-gradient(90deg, #ececec 1px, transparent 1px) 0 0 / 58px 58px,
      linear-gradient(#ececec 1px, transparent 1px) 0 0 / 58px 58px,
      #f7f7f7;
  }
}
